---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import ExperienceList from '../components/ExperienceList.astro';
import ComingSoon from '../components/ComingSoon.astro';
import Contact from '../components/Contact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-6xl mx-auto px-2 md:px-4 pb-96 selection:bg-[papayawhip]">
		<Header />
		<main class="grid md:grid-cols-2 md:gap-12 xl:gap-24 items-start md:pt-10 xl:pt-20">
			<AboutMe />
			<ExperienceList />
			<Contact />
			<ComingSoon />
		</main>
	</body>
</html>
