---
---

<section>
  <h2 class="font-silkscreen text-xl text-primary-black pb-4 pt-8 md:pb-12 xl:pb-14">About Me</h2>
  <p class="font-inter text-base leading-7 text-black">I love to code, solve problems, and build. I’m in love with Typescript, React, and the new wave serverless ecosystem. I&nbsp;enjoy building testable, functional code that scales with the business and adapts to the ever-changing requirements as they pop up. I’m more of a luthier than a lumberjack when it comes to coding, but never afraid to do what needs to be done.</p>
  <br />
  <p class="font-inter text-base text-black">I have a dog, a wife, and a 4 months old baby. Addicted to playing chess online.</p>
</section>
