---
---

<section>
  <ul class="font-silkscreen text-xl text-primary-black pt-8 space-y-8">
    <li>
      <a
        href="mailto:mihaly@mihaly.com"
        class="ring-offset-4 focus:outline-none focus:ring-4 focus:ring-[papayawhip] underline-offset-4 focus:underline hover:underline"
        >&gt;&nbsp;e-mail</a
      >
    </li>
    <li>
      <a
        href="https://linkedin.mihaly.dev"
        class="ring-offset-4 focus:outline-none focus:ring-4 focus:ring-[papayawhip] underline-offset-4 focus:underline hover:underline"
        >&gt;&nbsp;LinkedIn</a>
    </li>
    <li>
      <a
        href="https://github.mihaly.dev"
        class="ring-offset-4 focus:outline-none focus:ring-4 focus:ring-[papayawhip] underline-offset-4 focus:underline hover:underline"
        >&gt;&nbsp;GitHub (robotkutya)</a
      >
    </li>
  </ul>
</section>
