---
const experiences = [
  "Alignment with small & large organizations",
  "Quick-paced development on greenfield projects",
  "High availability systems on scale",
  "Integrating with 3rd party solutions",
  "Modernizing and rebuilding existing codebases",
  "Having ownership over the product or project",
  "Collaborating in cross-functional teams",
];
---

<section>
  <h2
    class="font-silkscreen text-xl text-primary-black pb-4 pt-8 md:pb-[44px] xl:pb-[50px]"
  >
    I Have Experience In
  </h2>
  <ul
    role="list"
    class="pl-4 min-[782px]:space-y-1 min-[810px]:space-y-0 min-[829px]:space-y-1 min-[856px]:space-y-2 min-[881px]:space-y-3 min-[900px]:space-y-2 min-[1058px]:space-y-1 list-outside list-['*'] marker:font-silkscreen marker:text-xl marker:text-primary-gray"
  >
    {
      experiences.map((exp) => {
        return (
          <li class="pl-2 font-inter text-base leading-7 text-black">
            {exp}
          </li>
        );
      })
    }
  </ul>
</section>
