---
---

<section>
  <h2 class="font-silkscreen text-xl text-primary-black pb-4 pt-8 md:pb-[44px] xl:pb-[50px]">I Have Experience In</h2>
  <ul class="font-inter text-base leading-7 text-black lg:space-y-2">
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Alignment with small & large organizations</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Quick-paced development on greenfield projects</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>High availability systems on scale</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Decoupling old monoliths</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Modernizing and rebuilding existing codebases</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Having ownership over the product or project</li>
    <li><span class="font-silkscreen text-xl text-primary-gray">*&nbsp;</span>Collaborating in cross-functional teams</li>
  </ul>
</section>
