---
type Header = {
  green: string;
  blue: string;
};

const headers: Header[] = [
  {
    green: "Hello,\xa0I'm",
    blue: "Mihaly\xa0Furedi",
  },
  {
    green: "Located in",
    blue: "Budapest,\xa0Hungary,\xa0EU",
  },
];
---

<header
  class="flex flex-col md:flex-row justify-start md:justify-between flex-wrap cursor-default"
>
  {
    headers.map((header) => {
      return (
        <div class="font-silkscreen text-xl flex flex-col xl:flex-row xl:space-x-3">
          <>
            <span class="text-primary-green">{header.green}</span>
            <span class="text-primary-blue">{header.blue}</span>
          </>
        </div>
      );
    })
  }
</header>
